body {
   background-image: url(galaxy-background.png); 
}

#title {
    background-color: purple;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-size: 36px;
    border: 3px solid pink;
}

#directions {
    background-color: pink;
    color: purple;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    border: 3px solid purple;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

#random-number {
    background-color: purple;
    color: white;
    border: 3px solid pink;
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 75px;
    margin-left: 75px;
}

#number-wins-losses {
    display: flex;
    justify-content: center;
}

#wins-losses {
    background-color: purple;
    color: white;
    border: 3px solid pink;
    text-align: center; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 75px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
}

#gems {
    background-color: purple; 
    border: 3px solid pink;
    justify-content: center;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

button {
    background-color: pink;
}

#your-score-is {
    background-color: pink;
    color: purple;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    border: 3px solid purple;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
}

#total-score {
    background-color: pink;
    color: purple;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    text-align: center;
    border: 3px solid purple;
    font-family: 'Lato', sans-serif;
    line-height: 20px; 
}

@media screen and (max-width: 576px) {
    #title {
        width: 300px;
    }

    #directions {
        width: 300px;
    }

    #gems {
        width: 215px;
    }

    #your-score-is {
        width: 300px
    }

    #total-score {
        width: 300px
    }

    #blue {
        width: 50px;
        justify-content: center;
    }

    #green {
        width: 50px;
        justify-content: center;
    }

    #purple {
        width: 50px;
        justify-content: center;
    }

    #red {
        width: 50px;
        justify-content: center;
    }

    #blueimg {
        width: 35px;
    }

    #greenimg {
        width: 35px;
    }

    #purpleimg {
        width: 35px;
    }

    #redimg {
        width: 35px;
    }
}